*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --OffWhite: hsl(0, 0%, 94%);
    --LightGrey: hsl(0, 0%, 86%);
    --SmokeyGrey: hsl(0, 1%, 44%);
    --OffBlack: hsl(0, 0%, 8%);
}

input{
    font-size: 1rem;
}

body{
    background: var(--OffWhite);
    padding: 3rem;
}

.container{
    width: 40%;
    margin: 5% auto;
    padding: 1.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    background: var(--White);
    border-radius: 1rem;
    border-bottom-right-radius: 8rem;
    
}

input{
    width: 21%;
    height: 2.4rem;
    margin-bottom: 2rem;
    margin-right: 0.8rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--LightGrey);
    padding: 0.8rem;
}

input::placeholder{
    color: var(--SmokeyGrey);
}

label{
    display: inline-block;
    color: var(--SmokeyGrey);
    font-size: 0.8rem;
}

.daylabel{
    margin-right: 4.7rem;
}

.monthlabel{
    margin-right: 3.2rem;
}

.section1{
    display: inline-block;

}

h1{
    font-size: 3rem;
    font-style: italic;
}

h1 > span{
    color: var(--Purple);
}

.buttonline{
    display: inline;

}

hr{
    color: var(--Purple);
}
button{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: var(--Purple);

}